<div class="row">
  <div class="span6 offset3">
  <h1>select shelves</h1>

    Goodreads user id: <%= @goodreads_user_id %> <br />
    Goodreads api key: <%= ENV["GOODREADS_KEY"] %> <br />

    <ul>
      <% @user_shelves.each do |shelf| %>
        <li><%= shelf.name %></li>
      <% end %>
    </ul>

  </div>
</div>
